/* Override some defaults */
html, body {
  background-color: #eee;
}

.content {
    font-family: 'Droid Serif', Georgia, serif;
    font-size: 14px;
    line-height: 20px;
}

/* 'Source Sans Pro', */
.page-header h1 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: -0.05em;
}

h1,h2,h3,h4,h5,h6,.btn {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.05em;
}

.hero-unit p {	
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;	
}

h3 {
	
	color: #668;
}

.span4 h2 {
	
	text-align: center;	
}

.span4 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.span12 h1 {
	
	font-size: 6em;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: 'Anonymous Pro','Droid Sans Mono','DejaVu Sans Mono',Monaco,Consolas,'Lucida Console',Courier,monospace !important;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

header {
	
	width: 100%;
}

/* */

.navbar {
  margin-bottom: 0;
}
.navbar .container{ 
  width:940px;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* posts index */
.post > h3.title {
  position:relative;
  padding-top:10px;
  border-top:3px solid #eee;
}
.post > h3.title span.date { 
  position:absolute;
  right:0;
  font-size:0.9em;
}
.post > .more {
  margin:10px 0;
  text-align:left;
}

/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}

.tag_box li {
  line-height:28px;
}

.tag_box.inline li {
  float:left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}

.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}

.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

.diagram {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

body > .navbar .brand {

    color: navy;
}

.marquee h3 {
    color : navy;
}

.marquee p {
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    color: black;
}

